<div class="dialog">
  <div class="container">
    <h1>Sweep Thermin</h1>
    <h2>Device Status</h2>
    <div *ngIf="deviceStatus">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Device Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ready</th>
            <td>{{deviceStatus.ready}}</td>
          </tr>
          <tr>
            <th scope="row">speed(1-10)</th>
            <td>{{deviceStatus.speed}}</td>
          </tr>
          <tr>
            <th scope="row">sampling rate(Hz)</th>
            <td>{{deviceStatus.rate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sound Status</h2>
    <div *ngIf="soundStatus">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Sound Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Frequency(Hz)</th>
            <td>{{soundStatus.frequency | number: '1.0'}}</td>
          </tr>
          <tr>
            <th scope="row">Distance from the point to sweep(cm)</th>
            <td>{{soundStatus.distance | number:  '1.0'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
