<div class="dialog" [ngClass]="{'hide-dialog': selectedMode!=='dialog'}">
  <div class="container">
    <div *ngIf="selectedMode==='dialog'">
      <h1>Sweep Thermin</h1>
      <button type="button" class="btn btn-secondary" (click)="onClick()">Hide this dialog</button>
      <app-device *ngIf="deviceStatus" [status]="deviceStatus"></app-device>
      <app-sound *ngIf="soundStatus" [status]="soundStatus"></app-sound>
      <div *ngIf="!deviceStatus && !soundStatus">
        <p>If any status does not appear for a while, <br>please unplug sweep and restart server program.</p>
      </div>
    </div>
    <div *ngIf="selectedMode==='visualizer'">
      <p><span class="red">Red</span>: volume</p>
      <p><span class="blue">Blue</span>: pitch</p>
      <button type="button" class="btn btn-secondary" (click)="onClick()">Show dialog</button>
    </div>
  </div>
</div>
